# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

#VS studio folders
x64/*
Debug/*
ipch/*
Eye_recognition/Debug/*
Eye_recognition/x64/*


#VS files
*.sdf
*.opensdf
*.suo
*.vcxproj
*.vcxproj.*
*.props